select {
    font-size: .9rem;
    padding: 2px 5px;
    margin-left: 30px;
    margin-top: 120px;
    border:solid 1.5px;
    border-radius: 3px;
}
body{
    background-color: white;
}

#line1{
    font-size: 20px;
    color: darkblue;
}
#line2{
    font-size: 20px;
    color: blue;
    font-style: italic;
} 